
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}


.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}

.profile-card img {
  width: 100%;
  height: auto;
}

.profile-card h2 {
  margin: 10px 0;
  color: #333;
}

.profile-card p {
  padding: 0 20px 20px;
  color: #777;
}


.blog-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}

.blog-card img {
  width: 100%;
  height: auto;
}

.blog-card h2 {
  margin: 10px 0;
  color: #333;
}

.blog-card p {
  padding: 0 20px 20px;
  color: #777;
}


form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

form div {
  margin-bottom: 16px;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

form input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form span {
  color: red;
  font-size: 12px;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #0056b3;
}
